---
layout: basic
class: support
title: "thingSoC Support FAQ"
permalink: /support/faq.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "thingSoC Support FAQ"
  abstract: "thingSoC Support FAQ"
  keywords: "thingSoC, bridger, videre, arduino, led, sensors"
comments: false
---
{% capture standard_content %}
<h1>thingSoC Frequently Asked Questions (FAQ)</h1>
<p>
</p>
<p>
<ul class="faq">
  <li>Q: What is thingSoC?</li>
  <li>{% include frag/about.html %}</li>

  <li>Q: Is thingSoC hardware, firmware, or software?
  </li>
  <li>thingSoC defines both a physical, hardware socket system for inter-operable boards,
         as well as a firmware model for automatic device discovery, and a software API for interacting with the system.
  </li>

  <li>Q: Why create a new standard? Why not just use Arduino, or Beaglebone, or another existing standard?</li>
  <li>thingSoC includes several new capabilities that other small form factors do not support. 
      thingSoC is a completely open source standard, not tied to any proprietary vendor implementation, 
      CPU architecture, or IDE. thingSoC is designed to be backward compatible with Arduino, rfDuino, Raspberry Pi, Beaglebone, X-Bee, and others.
  </li>

  <li>Q: Are there any licensing fees for using thingSoC in my own products?</li>
  <li>No. thingSoc is a completely open standard, and there are NO licensing costs for adopting the thingSoC standard.
      If you want to design your own thingSoC based product, you are free to do so.
  </li>

  <li>Q: How big are the thingSoC modules?
  </li>
  <li>thingSoC modules come in standardized sizes with specified mounting hole patterns.<br>
      <br>
      A <b>single thingSoC</b> module is  38.1mm long by 38.1mm wide (1.5 inches x 1.5 inches).<br>
      A <b>double thingSoC</b> module is  79.2mm long by 38.1mm wide (3.12 inches x 1.5 inches). <br>
      A <b>triple thingSoC</b> module is 114.8mm long by 38.1mm wide (4.52 inches x 1.5 inches). <br>
      <br>
      The default sizes have been chosen as a best compromise between cost, ease of assembly and ease of use.
      They have also been chosen to be compatible with a wide variety of existing packaging options.
   <p>
   <img src="{{site.url.images}}/projects/thingSoC/tsoc-40-80.png" alt="thingSoC single, double, and triple" title="thingSoC single, double, and triple">
   </p>
  </li>

  <li>Q: How many pins do thingSoC modules have?
  </li>
  <li>
      thingSoC modules can be from a minimum of six(6) pins to a maximum of eighty(80) pins per 
      individual socket. The thingSoC module pin configurations are known as "PinClasses", and support :<br>
      <ul>
        <li><b>6 Pins</b> - The Minimum PinClass (0)<br>
            includes Vin, Vbat, 5V, Ground, I2C1_SDA, and I2C1_SCL, to form a bare minimum connection. 
            The I2C bus is used for both configuration information and data exchange.</li>
        <li><b>20 Pins</b> - The Basic PinClass (1)<br>
            adds UART and SPI bus pins for higher speed data exchange, 
            as well as additional clocks, interrupt and power saving shutdown control pins.</li>
        <li><b>40 Pins</b> - The Standard Pinclass (2)<br>
            adds USB2.0, JTAG, Analog, and I2S audio.</li>
        <li><b>80 Pins</b> - The Maximum PinClass (3)<br>
            adds Superspeed USB3.0, PCI-E, or 10/100 Ethernet, second UART, Second SPI ports.</li>
      </ul>
    <p>
   <img src="{{site.url.images}}/projects/thingSoC/tsoc-singles.png"alt="thingSoC single with PINClasses" title="thingSoC single with PINClasses">
   </p>     
  </li>

  <li>Q: What kind of connectors do thingSoC modules use?
  </li>
  <li>
      thingSoC modules can have different I/O connector type "bindings", in order
      to facilitate specific user requirements. The default thingSoC I/O connector binding is
      the "BreadBoard" type, which employs common 2.54mm pitch (0.1 inch) female header and male pin connections,
      and as the name suggests, is capable of being used with commonly available 2.54mm pitch breadboards and prototyping boards.
      <br><br>A Pogo-Pin ("PP" type) I/O connector type "binding" is also included in the thingSoC specification,
              in order to facilitate the creation of thingSoC "TEST" modules for production testing.
      <br><br>Other I/O connector type "bindings" are possible, and may be added to the thingSoC specification
      at some future date.
  </li>

  <li>Q: What are thingSoC module "stacking levels"?
  </li>
  <li>
      thingSoC module "stacking levels" refer to the type of board function, and it's vertical position in the physical stack of modules. 
   <p>
     <img src="{{site.url.images}}/projects/thingSoC/thingSoC-levels.png"alt="thingSoC levels" title="thingSoC levels">
   </p>     
      <ul>
        <li><b>EXPA</b> - EXPAnsion levels<br>
         Any layer above the base level is refered to as an "EXPA", or EXPAansion level module.
         "EXPA" level modules use either "stack-thru" female header connectors, or surface mount (SMD)
         female headers on the top side of the board and surface mount (SMD) male pins on the 
         bottom side of the board.
         The majority of thingSoC modules are "EXPA" level modules.
         A maximum of four (4) "EXPA" level modules can function in any thingSoC "BASE" socket 
         (i.e. maximum stack height of four (4) "EXPA" level modules in any single thingSoC Socket).
         </li>
        <li><b>BASE</b> - BASE Level<br>
         There will be only one "BASE" level per thingSoC socket stack, 
         and it generally contains the application processor and it's support subsystems.
         "BASE" level modules use either "stack-thru" female header connectors, or surface mount (SMD)
         female headers on the top side of the board and surface mount (SMD) male pins on the 
         bottom side of the board.. Please note, this is very different than 
         other small form factors systems, such as the Arduino, that treat the processor board 
         (Uno, Leonardo, Due, etc.) as the bottom of the stack.
         Most thingSoC "BASE" level module implementations will utilize surface mount (SMD)
         female headers on the top side of the board, and leave the bottom connectors pads bare,
         (i.e. no male pins on bottom) in order to utilize Pogo-Pin ("PP") style test connectors on the 
         "TEST" level.  
         </li>
         <li><b>TEST</b> - TEST Levels<br>
         Any layer below the "BASE" layer is refered to as an "TEST" level module.
         "TEST" level modules implement test, measurement, and monitoring functions for the thingSoC "BASE" socket, 
         and any attached "EXPA" levels.
         The "TEST" level modules can include JTAG programming, debugging, and trace functionality.
         Oscilloscopes, Logic Analyzers, Protocol Analyzers, Emulators, and similar functions as implemented
         as "TEST" level modules in the thingSoC standard. 
         The "TEST" levels are an optional feature of the thingSoC standard, but present a consistant mechanism
         for adding instrumentation to a thingSoC socket, for testing and monitoring.
         </li>
      </ul> 
      <p>
         Most thingSoC "BASE" level module implementations will utilize surface mount (SMD)
         female headers on the top side of the board, and leave the bottom connector pads unpopulated,
         (i.e. no male pins on bottom) in order to utilize Pogo-Pin style test connectors on the 
         "TEST" level.  "TEST" level modules are either "BB" type (Bread-Board) or "PP" type (Pogo-Pin).
         In order to reduce the cost of most "BASE" level modules, they will most commonly omit the
         bottom stacking pins, and expect that "PP" type (Pogo-Pin) "TEST" modules will be used.
      </p>
  </li>

  <li>Q: What do the terms "thingSoC Compliant" and "thingSoC Compatible" mean?
  </li>
  <li> <b>thingSoC Compliant</b> devices implement at least the the Minimum PinClass (0) of six (6) pins, 
       and the thingSoC EEPROM based autodiscovery mechanism in a thingSoC single, double, or triple sized PCB,
       with specified mounting holes, and display the thingSoC logo on the silkscreen. 
       <br><br>
       <b>thingSoC Compatible</b> devices may fit and interoperate with thingSoC based systems,
       but do not support the thingSoC EEPROM based autodiscovery mechanism or match the physical PCB size and specified mounting holes.
       This implies that <b>thingSoC Compatible</b> devices don't have access to thingSoC extended functions or display the thingSoC logo. 
  </li>

  <li>Q: Is the thingSoC autodiscovery mechanism compatible with the Beaglebone Cape Manager?
  </li>
  <li> Yes. <b>thingSoC Compliant</b> devices implement the thingSoC EEPROM based autodiscovery mechanism,
       which is compatible with the <A href="http://elinux.org/BeagleBone_and_the_3.8_Kernel#Cape_Manager_requirements">Linux 3.8 Kernal 
       and Device  Tree  Overlays</a>. The thingSoC EEPROM based autodiscovery mechanism also implements additional features,
       however it is backward compatible with the Linux Beaglebone Cape Manager.
  </li>

  <li>Q: What are thingSoC Reference Designs?
  </li>
  <li> <b>thingSoC Reference Designs</b> are example <b>thingSoC Compliant</b> PCB designs that demonstrate
       a particular function or interface. Some of the example reference designs will include functions like
       USB CDC/HID thingSoC base interfaces to thingSoC expansion boards. 
       Please see the <A href="https://github.com/thingSoC">thingSoC Github repo</a> 
       for currently available thingSoC Reference Designs.
  </li>

</ul>
</p>
<p>
</p>
{% endcapture %}

{% include layouts/standard.html %}
