---
layout: basic
class: support
title: "thingSoC Schedule/Planning"
permalink: /support/schedule_planning.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "thingSoC Schedule/Planning"
  abstract: "thingSoC Schedule/Planning"
  keywords: "thingSoC, patternagents, arduino, sensors, iot, internet"
comments: false
---
{% capture standard_content %}
<h1>thingSoC Schedule/Planning</h1>
<p>
</p>

<p>
<ul class="schedule">
  <li>Q: What is thingSoC?</li>
  <li>{% include frag/about.html %}</li>
</ul>
</p>

<p>
</p>
{% endcapture %}

{% include layouts/standard.html %}
