---
layout: basic
class: about
title: "About thingSoC - For Distributors"
permalink: /about/distributors.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "About thingSoC - For Distributors"
  abstract: "About thingSoC - For Distributors"
  keywords: "thingSoC"
comments: false
---
{% capture standard_content %}
  <h1>
      Helping Distributors with Demand Creation...
  </h1>
  
  <h3>thingSoC helps Distributors:</h3>
  <ul> 
    <li>Creating solutions using their components and solutions
 </ul>
  
  <p>
  Contact us to see how we are helping Distributors. 
  </p>

  {% include frag/blurb.html %}

{% endcapture %}

{% include layouts/standard.html %}
