---
layout: basic
class: about
title: "About thingSoC"
permalink: /about/index.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "About thingSoC"
  abstract: "About thingSoC"
  keywords: "thingSoC"
comments: false
---
{% capture standard_content %}
 
<h2>About thingSoC</h2>
{% include frag/about.html %}

{% include frag/blurb.html %}

<p>
<img src="{{site.url.images}}/projects/thingSoC/thingSoC_thumb.png" alt="thingSoC" title="thingSoC">
</p>

{% endcapture %}

{% include layouts/standard.html %}
