---
layout: basic
class: about
title: "About thingSoC"
permalink: /about/index.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "About thingSoC"
  abstract: "About thingSoC"
  keywords: "thingSoC"
comments: false
---
{% capture standard_content %}
 

<h2>About thingSoC</h2>
<p>
<b>thingSoC</b> is a modular development platform for the Internet of Things,
that addresses many of the limitations of current product offerings;
such as automatic device discovery, automatic device configuration,
self-monitoring and self-testing capabilities. 
<br><br>
<b>thingSoC</b> can support existing hardware small form factors, like
Xbee, Arduino, rfDuino, Raspberry Pi, and others;
but adds  new features and capabilites to make building
your next IoT device much easier, with a more reliable final product. 
<br><br>
<b>thingSoC</b> provides a vendor neutral and device agnostic hardware platform,
using a virtual hardware platform definition. This means that the IoT applications you
develop can be easily migrated without having to re-write your software.
</p>

{% include frag/blurb.html %}
<p>
<img src="{{site.url.images}}/projects/thingSoC/thingSoC.png" alt="thingSoC" title="thingSoC">
</p>

{% endcapture %}

{% include layouts/standard.html %}
