---
layout: basic
class: about
title: "About thingSoC - For Representatives"
permalink: /about/representatives.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "About thingSoC - For Representatives"
  abstract: "About thingSoC - For Representatives"
  keywords: "thingSoC"
comments: false
---
{% capture standard_content %}
  <h1>
      Helping Manufacturers Representatives...
  </h1>
  
  <h3>
  thingSoC helps Manufacturers Representatives: 
  </h3>
  <ul>
     <li>Creating custom solutions using their Manufacturers components and solutions</li>
  </ul>
  <p>
    How many times have you been handed a reference or demo design from one of your manufacturers, that uses <i>Key</i> components that direcly compete with your other/main lines? It's really hard to take that out to your clients, isn't it? Well, we're here to help &endash; we can help to support and defend ALL of your lines; so you can demonstrate your value to your principals.
  </p>
  
  <p>
    Contact us to see how we are helping Manufacturers Representatives. 
  </p>

  {% include frag/blurb.html %}

{% endcapture %}

{% include layouts/standard.html %}
