<br><br>
<b>thingSoC</b> is an open source standard that defines a
vendor independent socket system for the creation of new Internet Things;
it addresses many of the limitations of current product offerings
and standards, by adding capabilities such as automatic device discovery, 
automatic device configuration, self-monitoring, and self-testing. 
<br><br>
<b>thingSoC</b> works with many existing standards and Integrated Development Environments (IDEs),
such as Arduino, rfDuino, Raspberry Pi, Beaglbone, X-Bee, and others;
but adds  new features and new capabilites to make building new IoT devices easy.
<br><br>
The <b>thingSoC</b> virtual platform definition supports a number of different System-on-Chip platforms and peripherals,
such as cell modems, packet radios, Wi-Fi, Bluetooth, and more. 

