     thingSoC includes several capabilities that the other small form factors do not support :
      <p>
	<ol>
          <li>Production Ready, embeddable hardware platforms that are easy to use </li>
	  <li>High Speed Interface support, including SuperSpeed USB 3.0, PCI-E, and 10/100 Ethernet </li>
	  <li>Standardized Mounting System, designed for high vibration platforms (robots, ebikes, drones)</li>
	  <li>Built in support for battery, solar, and very low power applications</li>
	  <li>Standardized auto-discovery firmware system, compatible with the Beaglebone Cape Manager</li>
	  <li>Selectable connector sizing for very low pin count, cost sensitive applications</li>
	  <li>Selectable physical sizing for cost trade-off based on PCB size (half-size, single, double, triple sizes)</li>
          <li>Standardized testing, instrumentation, monitoring, and data recording interfaces</li>
	  <li>Interchangeable platform for break-out-boards, sensors, radios, and other devices</li>
	  <li>Standardized cross-platform Application Programming Interfaces (APIs)</li>
        </ol>
      </p>


