{% comment %}
newsletter signup widget. Needs some work so that it looks right, and also I want to use
jquery to validate the e-mail as best I can to reduce the number of times user gets sent
off-site to mailchimp.
{% endcomment %}

<form id="signup"
      action="http://patternagents.us5.list-manage.com/subscribe/post?u=d606135278a28bf2e4504c9ef&id=34ecdcaa40"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate>
  <div class="row"><div class="col">
    
  <div class="row collapse">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <button class="postfix" type="submit">Subscribe</button>
  </div>
  </div></div>
</form>