---
layout: basic
class: home
title: "thingSoC"
permalink: /index.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "thingSoC - Open Source Sockets for the Internet of Things"
  abstract: "thingSoC - Open Source Sockets for the Internet of Things"
  classification: "open source software, open source hardware, foss, oshw"
  keywords: "thingSoC, rsvp, rsvpsis, rsvp-sis, microprocessor, fpga, asic, arduino, oshw"
comments: false
---

{% capture home_content %}
<br>
<b>thingSoC</b> defines a physical, hardware socket system for inter-operable printed circuit boards,
with a data centric firmware model for automatic device discovery, and a software API for interacting with the system.
</p>
<p>
<b>thingSoC</b> sockets support both the basic low speed interface standards like I2C, SPI, and UART, 
but also supports higher speed interfaces like USB 3.0, 10/100/1000, and PCI-E for higher performance IoT devices.
<b>thingSoC</b> sockets have been designed to support low power battery based IoT applications, as well as USB and wall-powered ones.
</p>
<p>
 <img src="{{site.url.images}}/projects/thingSoC/thingSoC_cat_sm.png" alt="thingSoC Interfaces" title="thingSoC Interfaces">
</p> 
<p>
<h1>What can you do with thingSoC?</h1>
<p>
Imagine what you could build with an IoT platform that is both simple to use, and ultra reliable!
<ul>
<li>Data Logging and Remote Monitoring</li>
<li>Asset Monitoring Solutions</li>
<li>Smart Home Applications</li>
<li>Measurement and Verification Applications</li>
<li>Your Application?</li></ul>
</p>

<h3>Donate</h3>
<p>
<b>thingSoC</b> is community supported, you can help by contributing.
<BR><BR>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5NPC24C7VQ89L">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>

<p>
Sign-up for our mailing list to hear more about 
the <b>thingSoC</b> development and it's upcoming release.
</p>
{% include frag/blurb.html %}

{% endcapture %}

{% include layouts/home.html %}
